<html ng-app="embedApp">
    <head>
     <meta charset="utf-8"/>
     <link rel="stylesheet" href="styles/main.css" />
    </head>

    <body ng-controller="embedController">

        <div class="notification" ng-if="gotNotification">

        </div>

    <button ng-click="test()">test</button>

    </body>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="libs/socket.js"></script>
    <script src="config/app.js"></script>
    <script src="services/socket-factory.js"></script>
    <script src="controllers/embed-controller.js"></script>
</html>